{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <h1>Clustered Playlist</h1>
        <p>Here are the calculated clusters for this playlist</p>
        {% for label, cluster in clusters.items() %}
        <div class="cluster_container">
            <h2>Cluster {{ label }}</h2>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Song Name</th>
                        <th>Distance to centroid</th>
                    </tr>
                </thead>
                <tbody>
                    {% for song_index in cluster %}
                        <tr>
                            <td>{{ songs[song_index].name }}</td>
                            <td>{{ distances[song_index] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endfor %}
    </div>
{% endblock %}